#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ItemBroadcastGuildChat Configuration
########################################
#
#    ItemBroadcastGuildChat.Enable
#        Description: Enable/disable the item broadcasting to guild chat.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ItemBroadcastGuildChat.Enable = 0
